<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <strong class="card-title">Author's Registration</strong>
        </div>
        <form action="{% url 'author:create_author' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                <div id="errores">
                </div>
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Register</button>
                <button type="button" class="btn btn-danger" data-align="right" data-dismiss="modal"><strong>Cancel</strong></button>
            </div>
        </form>
    </div>
</div>

