<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <strong class="card-title">Author's Edit {{ object }}</strong>
        </div>
        <form action="{% url 'author:edit_author' object.id %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
                <div id="errores">
                </div>
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>

