{% extends 'index.html' %}
{% load static %}
{% block titulo %}
Library.dev | {{ object }}
{% endblock titulo %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}
{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row" style="margin: 30px;">
            <div class="col-md-12 text-center ">
                <strong class="card-title">
                    <h2>{{ object }}</h2>
                </strong>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="card">
                    {% csrf_token %}
                    <img class="card-img-top" src="{{ object.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="card-text">Posted on: {{ object.publication_date }}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="card-text"><strong>Authors</strong></p>{{ object.get_authors }}
                            </div>
                            <div class="col-md-12">
                                <p class="card-text"><strong>Description</strong></p>
                            </div>
                            <div class="col-md-12">
                                <p class="card-text">{{ object.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-lg" onclick="registrarReserva();">Reserve this book!</button>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock body %}
{% block extrajs %}
<script type="text/javascript">
    function registrarReserva(){
        data = {
            'user': "{{ request.user.id }}",
            'book':"{{ object.id }}",
            csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
        }
        $.ajax({
            data:data,
            url:"{% url 'author:reserve_book' %}",
            type: 'post',
            success:(response)=>{
                notificacionSuccess(response.message);
                setTimeout(() => {
                    window.location.href = response.url;
                  }, "3000")
            },
            error:(error)=>{
                notificacionError(error.responseJSON.message);
            }
        });
    }
</script>
{% endblock extrajs %}