

{% extends 'index.html' %}
{% load static %}
{% block titulo %}
Biblioteca.dev | Books list
{% endblock titulo %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}
{% block body %}
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-8">
        <strong class="card-title">Books list</strong>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" onclick="abrir_modal_creacion('{% url 'author:create_book' %}');">
          Register a Book</a>
      </div>
    </div>

  </div>
  <div class="table-stats order-table ov-h">
        {% if books %}
        <table id="" class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Publication Date</th>
            <th>Author</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.publication_date}}</td>
            <td>{% for author in book.author_id.all%}
                <li>{{author.name}}</li>
                {% endfor %}
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="abrir_modal_creacion('{% url 'author:edit_book' book.id%}');">Edit</button>
                <button type="button" class="btn btn-danger" onclick="abrir_modal_creacion('{% url 'author:delete_book' book.id %}');">Delete</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    
{% else %}
<div class="card p-2">
    <div class="row">
      <div class="col-md-8">
        <strong class="card-title">Does not exist registered books...</strong>
      </div>
    </div>
</div>

{% endif %}

  </div>
</div>
<div class="modal fade" id="creacion" role="dialog">

</div>
<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="eliminacion" role="dialog">

</div>


{% endblock body %}
{% block extrajs %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/libro/libro.js' %}"></script>
{% endblock extrajs %}
