<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-header">
          <strong class="card-title">User's Registration</strong>
      </div>
      <form id="creation_form" action="{% url 'user:create_user' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">
              <div id="errores">
              </div>
              {{ form.as_p }}
          </div>
          <div class="modal-footer">
              <button id="boton_creacion" class="btn btn-primary" type="button" onclick="registerUser()">Register</button>
              <button class="btn btn-danger" type="button" data-dismiss="modal" onclick="cerrar_modal_creacion()">Cancel</button>
          </div>
      </form>
  </div>
</div>

